@use '../base/config' as *;

.block {
    padding-top: 22px;
    display: flex;
    align-items: flex-start;

    &:last-child {
        padding-bottom: 22px;
    }

    &__icon {
        width: 20px;
        margin: 0 20px 0 10px;
        color: $clr-accent;

        @media (min-width: 1200px) {
            margin: 0 35px 0 28px;
        }

        &--alt {
            color: $clr-theme;
        }
    }

    &__letter {
        font-size: $text-600;
        text-transform: uppercase;
    }

    &__list {
        flex-grow: 1;

        &--w-border {
            padding-bottom: 20px;
            border-bottom: 1px solid $clr-neutral-400;
        }
    }

    &__item {
        padding-right: 22px;

        /*  better to use gaps as spacers,
            but IE doesn't support those */
        &:not(:last-child) {
            margin-bottom: 25px;
        }

        &--flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 0;

        &:hover,
        &:focus,
        &.active {
            h2 {
                color: $clr-text-hover;
            }
        }

        figure {
            margin-right: 15px;
            width: 39px;
            height: 39px;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h2 {
            font-weight: 400;
            font-size: $text-300;
            color: $clr-text-dark;
            transition: color 150ms ease-in-out;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;

        small {
            margin-top: 5px;
            font-weight: 400;
            font-size: $text-100;
            letter-spacing: -0.1px;
            color: $clr-neutral-500;
        }
    }

    &__link {
        font-weight: 400;
        font-size: $text-400;
        letter-spacing: -0.1px;
        color: $clr-text-dark;
        text-decoration: none;
        transition: color 150ms ease-in-out;

        &:hover,
        &:focus,
        &.active {
            color: $clr-text-hover;
        }
    }

    &__address {
        /* IE word wrap fix for flex children */
        flex: 1;
        align-self: stretch;
    }

    &__address-line {
        font-weight: 400;
        font-size: $text-400;
        letter-spacing: -0.1px;
        color: $clr-text-dark;
        max-width: 100%;
    }

    &__hangouts-btn {
        background-color: transparent;
        border: 0;

        &:hover,
        &:focus {
            svg {
                fill: #20a464;
            }
        }

        svg {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: $clr-neutral-700;
            transition: fill 150ms ease-in-out;
        }
    }
}
